pygeoapi/schemas.opengis.net/tms/1.0/xml/tms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tms="http://www.opengis.net/tms/1.0" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://www.opengis.net/tms/1.0" elementFormDefault="qualified" xml:lang="en" version="1.0.0">
	<annotation>
		<appinfo>TileMatriSet 2019-02-02</appinfo>
		<documentation>
			This XML Schema Document encodes the TileMatrisSet data structures.
			OGC TileMatrixSet 1.0 is an OGC Standard.
			Copyright (c) 2019 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	</annotation>
	<!-- *********************************************************************
	             Includes and imports.                            
          ********************************************************************* -->
	<import namespace="http://www.opengis.net/ows/2.0" schemaLocation="http://schemas.opengis.net/ows/2.0/owsAll.xsd"/>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/1999/xlink.xsd"/>
	<!-- ****************************************************************************************** -->
	<!-- **  The TileMatrixSetLink, TileMatrixSetLimits and TileMatrixLimits element. ** -->
	<!-- ****************************************************************************************** -->
	<element name="TileMatrixSetLink">
		<annotation>
			<documentation>Metadata about the TileMatrixSet reference.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TileMatrixSet" type="string">
					<annotation>
						<documentation>Reference to a tileMatrixSet</documentation>
					</annotation>
				</element>
				<element ref="tms:TileMatrixSetLimits" minOccurs="0">
					<annotation>
						<documentation>Indices limits for this tileMatrixSet. The absence of this 
						element means that tile row and tile col indices are only limited by 0 
						and the corresponding tileMatrixSet maximum definitions.</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="TileMatrixSetLimits">
		<annotation>
			<documentation>
				Metadata about a the limits of the tile row and tile col indices.
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="tms:TileMatrixLimits" maxOccurs="unbounded">
					<annotation>
						<documentation>
							Metadata describing the limits of the TileMatrixSet indices. 
							Multiplicity must be the multiplicity of TileMatrix in this 
							TileMatrixSet.
						</documentation>
					</annotation>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>This is an extension point for other properties in the TileMatrix.</documentation>
					</annotation>
				</any>
			</sequence>
		</complexType>
	</element>
	<element name="TileMatrixLimits">
		<annotation>
			<documentation>Metadata describing the limits of a TileMatrix 
						for this layer.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TileMatrix" type="string">
					<annotation>
						<documentation>Reference to a TileMatrix identifier</documentation>
					</annotation>
				</element>
				<element name="MinTileRow" type="nonNegativeInteger">
					<annotation>
						<documentation>Minimum tile row index valid for this 
						layer. From 0 to maxTileRow</documentation>
					</annotation>
				</element>
				<element name="MaxTileRow" type="nonNegativeInteger">
					<annotation>
						<documentation>Maximim tile row index valid for this 
						layer. From minTileRow to matrixWidth-1 of the tileMatrix 
						section of this tileMatrixSet</documentation>
					</annotation>
				</element>
				<element name="MinTileCol" type="nonNegativeInteger">
					<annotation>
						<documentation>Minimum tile column index valid for this 
						layer. From 0 to maxTileCol</documentation>
					</annotation>
				</element>
				<element name="MaxTileCol" type="nonNegativeInteger">
					<annotation>
						<documentation>Maximim tile column index valid for this layer. 
						From minTileCol to tileHeight-1 of the tileMatrix section 
						of this tileMatrixSet.</documentation>
					</annotation>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>This is an extension point for other properties in the TileMatrixLimits.</documentation>
					</annotation>
				</any>
			</sequence>
		</complexType>
	</element>
	<!-- ********************************************************************* -->
	<!-- **  The TileMatrixSet element.                                         ** -->
	<!-- ********************************************************************* -->
	<element name="TileMatrixSet">
		<annotation>
			<documentation>Describes a particular set of tile matrices.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ows:DescriptionType">
					<sequence>
						<element ref="ows:Identifier">
							<annotation>
								<documentation>Tile matrix set identifier</documentation>
							</annotation>
						</element>
						<element ref="ows:BoundingBox" minOccurs="0">
							<annotation>
								<documentation>
									Minimum bounding rectangle surrounding 
									the visible layer presented by this tile matrix 
									set, in the supported CRS </documentation>
							</annotation>
						</element>
						<element ref="ows:SupportedCRS">
							<annotation>
								<documentation>Reference to one coordinate reference 
								system (CRS).</documentation>
							</annotation>
						</element>
						<element name="WellKnownScaleSet" type="anyURI" minOccurs="0">
							<annotation>
								<documentation>Reference to a well known scale set.
									urn:ogc:def:wkss:OGC:1.0:GlobalCRS84Scale, 
									urn:ogc:def:wkss:OGC:1.0:GlobalCRS84Pixel, 
									urn:ogc:def:wkss:OGC:1.0:GoogleCRS84Quad and 
									urn:ogc:def:wkss:OGC:1.0:GoogleMapsCompatible are 
								possible values that are defined in Annex E. It has to be consistent with the 
								SupportedCRS and with the ScaleDenominators of the TileMatrix elements.
								</documentation>
							</annotation>
						</element>
						<element ref="tms:TileMatrix" maxOccurs="unbounded">
							<annotation>
								<documentation>Describes a scale level and its tile matrix.</documentation>
							</annotation>
						</element>
						<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>This is an extension point for other properties in the TileMatrixSet.</documentation>
							</annotation>
						</any>
					</sequence>
					<attribute name="id" type="string">
						<annotation>
							<documentation/>
						</annotation>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- ********************************************************************* -->
	<!-- **  The TileMatrix element.                                                ** -->
	<!-- ********************************************************************* -->
	<element name="TileMatrix">
		<annotation>
			<documentation>Describes a particular tile matrix.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ows:DescriptionType">
					<sequence>
						<element ref="ows:Identifier">
							<annotation>
								<documentation>Tile matrix identifier. Typically an abreviation of 
								the ScaleDenominator value or its equivalent pixel size</documentation>
							</annotation>
						</element>
						<element name="ScaleDenominator" type="double">
							<annotation>
								<documentation>Scale denominator level of this tile matrix</documentation>
							</annotation>
						</element>
						<element name="TopLeftCorner" type="ows:PositionType">
							<annotation>
								<documentation>
									Position in CRS coordinates of the top-left corner of this tile matrix. 
									This are the  precise coordinates of the top left corner of top left 
									pixel of the 0,0 tile in SupportedCRS coordinates of this TileMatrixSet.
								</documentation>
							</annotation>
						</element>
						<element name="TileWidth" type="positiveInteger">
							<annotation>
								<documentation>Width of each tile of this tile matrix in pixels.</documentation>
							</annotation>
						</element>
						<element name="TileHeight" type="positiveInteger">
							<annotation>
								<documentation>Height of each tile of this tile matrix in pixels</documentation>
							</annotation>
						</element>
						<element name="MatrixWidth" type="positiveInteger">
							<annotation>
								<documentation>Width of the matrix (number of tiles in width)</documentation>
							</annotation>
						</element>
						<element name="MatrixHeight" type="positiveInteger">
							<annotation>
								<documentation>Height of the matrix (number of tiles in height)</documentation>
							</annotation>
						</element>
						<element name="VariableMatrixWidth" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>The rows mention in this array apply the coalece mechanims to fuse n contiguous tiles in the width axis into a single tile</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="Coalesce" type="positiveInteger">
										<annotation>
											<documentation>Number of tiles in width that coalesce in a single tile for this rows</documentation>
										</annotation>
									</element>
									<element name="MinTileRow" type="nonNegativeInteger">
										<annotation>
											<documentation>First row where the coalese factor apply</documentation>
										</annotation>
									</element>
									<element name="MaxTileRow" type="nonNegativeInteger">
										<annotation>
											<documentation>Last row where the coalese factor apply</documentation>
										</annotation>
									</element>
								</sequence>
							</complexType>
						</element>
						<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>This is an extension point for other properties in the TileMatrix.</documentation>
							</annotation>
						</any>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
</schema>
